body {
    font-family: open-sans, sans-serif;
}

@media screen and (max-width: 480px) {
    body {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        background-color: #ffffff;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
    }

    .topo {
        width: 100%;
        height: 8%;
        background-color: #3e48cc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .topo img {
        height: 79%;
    }

    .bem-vindo {
        font-size: 20px;
        margin: 20px 0 10px 0;
        font-weight: 700;
    }

    .botoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3%;
    }

    .botao {
        position: relative;
        background-color: #f2f2f2;
        width: 34%;
        height: 120px;
        margin: 2%;
        border-radius: 8%;
        text-align: center;
        padding: 3%;
    }

    .botao img {
        height: 40%;
        margin-bottom: 4%;
        margin-top: 10%;
    }

    .botao h3 {
        font-size: 100%;
        margin: 0;
        color: black;
        margin-top: 5%;
    }


    .menu-rodape {
        position: fixed;
        bottom: 0;
        height: 6%;
        width: 100%;
        background-color: #3e48cc;
        display: flex;
        justify-content: space-around;
        padding: 2% 0;
    }

    .menu-rodape img p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-rodape a {
        text-decoration: none;
        color: inherit;
    }

    .menu-rodape a p {
        text-decoration: none;
        color: inherit;
    }

    .item-menu {
        text-align: center;
        color: white;
    }

    .item-menu img {
        height: 60%;
    }

    .item-menu p {
        margin: 0;
        font-size: 100%;
    }


    a {
        text-decoration: none;
    }

    header {
        background-color: rgb(21, 4, 98);
        padding: 10px;
    }

    .btn-abrir {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        color: blue;
        font-size: 20px;
        background-color: rgb(255, 255, 255);
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }


    .icon-menu-lateral a {
        display: flex;
        align-items: center;
        gap: 5%;
    }

    hr {
        border: 1.5px solid rgb(87, 87, 87);
    }

    .icone-fechar a {
        margin-top: 3%;
    }

    nav {
        height: 100%;
        width: 60%;
        background-color: white;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1;
        overflow: hidden;
        transition: left 0.3s ease-in-out;
    }

    nav a {
        color: black;
        font-size: 110%;
        display: block;
        padding: 6% 5% 6% 12%;
    }

    nav a:hover {
        color: blue;
    }

    main {
        padding: 3%;
        transition: 0.5s;
    }

    nav.ativo {
        left: 0;
    }

    .tabs {
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid #ccc;
        margin: 2% 0;
    }

    .aba {
        background: none;
        border: none;
        padding: 2%;
        font-size: 100%;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        border-bottom: 0.2% solid transparent;
        transition: all 0.3s ease;
    }

    .aba.ativa {
        color: #3e48cc;
        border-bottom: 3px solid #3e48cc;
    }

    .conteudo-aba {
        padding: 5%;
        background-color: #ccc;
        border-radius: 10px;
        margin: 2%;
    }

    .imagem-relatorio {
        display: flex;
        margin: 0 auto;
        border: 3px solid black;
        width: 90%;
        height: 90%;
    }

    .grafico {
        display: flex;
        margin: 0 auto;
        width: 90%;
        height: 80%;
    }

    .rotas h1 img {
        margin-bottom: 3%;
    }

    .rotas h1 {
        display: flex;
        align-items: center;
        border-bottom: #3e48cc solid;
    }

    .rotas h1 {
        font-size: 130%;
        color: #3e48cc;
        font-weight: bold;
    }

    .rotas img {
        height: 90%;
        width: 9%;
        margin-left: 2%;
        margin-right: 3%;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
    }

    .ferrovia {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20%;
    }

    .container-azul {
        width: 100%;
        height: 43%;
        background-color: #3e48cc;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .container-azul>div {
        vertical-align: top;
        margin-right: 5%;
    }

    .container-azul::-webkit-scrollbar {
        width: 2%;
    }

    .container-azul::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }

    .container-azul::-webkit-scrollbar-track {
        background: transparent;
    }

    .container-azul p {
        color: white;
        font-weight: bold;
    }

    .placa-stop img {
        background-color: white;
        height: 45px;
        border-radius: 50%;
        margin-left: 2%;
        margin-top: 2%;
        border: 2px solid white;
        padding: 0;
    }

    .container-azul p {
        display: flex;
        align-items: center;
        gap: 2%;
    }

    .exclamação img {
        display: flex;
        align-items: center;
        height: 45px;
        margin-left: 2%;
        padding: 0;
    }

    .btn-sair a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin: 0 auto;
        background-color: #3e48cc;
        color: white;
        padding: 18px 15px;
        border-radius: 25px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.3s ease;
        width: 43%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .btn-sair a:hover {
        background-color: #2d36b0;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-sair a img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);
    }

    .btn-editar {
        display: flex;
        justify-content: center;
        background-color: #3e48cc;
        font-weight: bold;
        text-decoration: none;
        color: white;
        padding: 6% 10%;
        border-radius: 25px;
        align-items: center;
        padding: 2% 0;
        margin: 5% auto;
        gap: 5%;
        width: 90%;
        height: 40px;
        max-width: 50%;
    }

    .notificacoes {
        align-content: space-around;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .com-noti {
        display: flex;
        background-color: #b8b8b8;
        border-radius: 8px;
        margin-top: 7%;
        align-items: center;
        border-radius: 20px;
    }

    .sem-noti {
        display: flex;
        background-color: #e9e9e9;
        border-radius: 20px;
        margin-top: 7%;
        align-items: center;
    }

    .img-alertas-noti {
        max-width: 12%;
        max-height: 12%;
        height: auto;
        width: auto;
    }

    .img-alertas {
        width: 12%;
        height: 12%;
    }

    .btn-alertas {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        height: 25%;
        width: 80%;
        align-items: center;
        gap: 5%;
        padding: 2%;
        font-size: 120%;
        font-weight: bold;
        background-color: #a4a0a0 !important;
        border-radius: 20px;
        margin-top: 5%;
        border: none;
        color: #000;
    }

    .btn-alertas img {
        height: 20px;
        width: 20px;
    }

    .tab-relatorio {
        text-align: center;
    }

    .conteudo-aba-relatorio img {
        text-align: center;
        margin-top: 80px;
    }

    .txt-relatorio1 {
        display: flex;
        align-items: center;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgb(122, 122, 122);
        height: 20%;
        width: 60%;
        text-align: center;
        margin-top: 10%;
    }

    .txt-relatorio2 {
        text-align: center;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgb(122, 122, 122);
        height: 20%;
        width: 60%;
        text-align: center;
        margin-top: 10%;
    }

    .informacao3 {
        color: rgb(138, 138, 138);
        margin-top: 5%;
        padding: 5%;
    }

    .numero {
        background-color: #c3c3c3;
        color: #e5e5e5;
        margin: 1%;
        padding: 5%;
        border-radius: 10px;
        border: 2px solid rgb(37, 37, 37);
        display: flex;
        align-items: center;
        gap: 5%;
        flex-wrap: wrap;
    }


    .date-wrapper {
        background-color: #d3d3d3;
        border: 2px solid #888;
        border-radius: 25px;
        padding: 2% 5%;
        display: inline-flex;
        align-items: center;
    }


    .date-wrapper input[type="date"] {
        border: none;
        background: transparent;
        font-size: 100%;
        cursor: pointer;
    }

    .date-wrapper input[type="date"]::-webkit-inner-spin-button,
    .date-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
        margin-left: 2%;
        cursor: pointer;
    }

    .select {
        background-color: #d3d3d3;
        border: 2px solid #888;
        border-radius: 25px;
        padding: 2% 5%;
        margin-top: 2%;
        font-size: 100%;
        cursor: pointer;
        min-width: 45%;
    }

    .fundo1 {
        background-color: #a5a5a5;
        color: #e5e5e5;
        width: 70%;
        height: 20%;
        margin: auto;
        font-size: 80%;
    }

    .fundo2 {
        background-color: #949393;
        color: #e5e5e5;
        width: 70%;
        height: 20%;
        margin: auto;
        font-size: 80%;
    }

    .horarios-container {
        width: 100%;
        max-height: 60vh;
        overflow-y: auto;
        margin-top: 5%;
        padding-right: 2%;
    }

    .data-horario {
        font-size: 120%;
        color: #333;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        text-align: center;
    }

    .fundo1,
    .fundo2 {
        width: 95%;
        margin: 2% auto;
        padding: 3%;
        border-radius: 8px;
        font-size: 100% !important;
        text-align: center;
        box-sizing: border-box;
    }

    .horarios-container::-webkit-scrollbar {
        width: 8px;
    }

    .horarios-container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }


    .horarios-container::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
    }

    .fundo1 {
        background-color: #a5a5a5;
    }

    .fundo2 {
        background-color: #949393;
    }

    .notificacoes {
        height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 2% 5%;
        padding: 0 2%;
    }

    .notificacoes>div {
        margin-bottom: 15px;
        padding: 12px 15px;
    }

    .com-noti,
    .sem-noti {
        gap: 3%;
    }

    .com-noti {
        background-color: #b8b8b8;
    }

    .sem-noti {
        background-color: #e9e9e9;
    }

    .notificacoes::-webkit-scrollbar {
        width: 8px;
    }

    .notificacoes::-webkit-scrollbar-thumb {
        background-color: #3e48cc;
        border-radius: 10px;
    }

    .notificacoes::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .buttons-container {
        position: fixed;
        bottom: 70px;
        width: 100%;
        padding: 10px 0;
        background: transparent !important;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .btn-entrar a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 0;
        margin: 5% auto;
        width: 90%;
        max-width: 400px;
    }

    .msg {
        color: #ef4444;
        font-weight: bold;
        margin-top: 8px;
        text-align: center;
    }

    .form-adicionar-funcionario {
        width: 90%;
        display: flex;
        padding-top: 5%;
        margin-left: 15px;
        flex-direction: column;
        gap: 5%;
        padding-bottom: 50px;
        max-height: 700px;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .form-adicionar-funcionario::-webkit-scrollbar {
        width: 8px;
    }

    .form-adicionar-funcionario::-webkit-scrollbar-thumb {
        background-color: #2d36b0;
        border-radius: 4px;
    }

    .form-adicionar-funcionario::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    .form-adicionar-funcionario label {
        font-size: 100%;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-adicionar-funcionario input,
    .form-adicionar-funcionario select {
        border: #2d36b0 solid 1px;
        width: 100%;
        padding: 10px;
        border-radius: 25px;
        font-size: 100%;
    }

    .botao-adicionar {
        display: flex;
        justify-content: center;
        width: 90%;
        flex-direction: column;
        margin-left: 20px;
    }

    .botao-adicionar input {
        background-color: #3e48cc;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 25px;
        font-size: 100%;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .botao-adicionar input:hover {
        background-color: #2d36b0;
    }


    .voltar-fim {
        display: block;
        width: fit-content;
        margin: 40px auto 10px auto;
        padding: 10px;
        background: #2d3eaf;
        color: #fff;
        border-radius: 8px;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        font-size: 1.1em;
        transition: background 0.2s;
    }

    .voltar-fim:hover {
        background: #1a256e;
    }

    .titulo-read {
        text-align: center;
        font-size: 150%;
        font-weight: bold;
        margin-top: 5%;
        color: black;
    }

    .botao-listar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        flex-direction: column;
        margin-left: 15px;
        background-color: #3e48cc;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 25px;
        font-size: 100%;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .botao-listar:hover {
        background: #2d36b0;
        color: #fff;
        text-decoration: none;
    }

    .table-usuarios {
        width: 90%;
        margin-left: 7%;
        margin-right: 7%;
    }

    .table-usuarios td {
        border: 1px solid #3e48cc;
        padding: 12px;
        text-align: center;
        font-size: 90%;

    }

    .btn {
        justify-content: center;
        background-color: #4CAF50;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .btn-excluir {
        background-color: #f44336;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .voltar-update {
        display: block;
        width: fit-content;
        margin: -10px auto 10px auto;
        padding: 5px;
        background: #2d3eaf;
        color: #fff;
        border-radius: 8px;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        font-size: 1.1em;
        transition: background 0.2s;
    }

    .scroll-usuarios {
        max-height: 500px;
        overflow-y: auto;
        margin-top: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .scroll-usuarios::-webkit-scrollbar {
        width: 8px;
    }

    .scroll-usuarios::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }

    .scroll-usuarios::-webkit-scrollbar-track {
        background-color: #f1f1f1;

    }

    .cont_senha {
        display: flex;
        align-items: center;
        position: relative;
    }

    .cont_senha input {
        flex: 1;
        padding-right: 35px;
    }

    .cont_senha i {
        position: absolute;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
        color: rgb(80, 80, 80);
    }

}