body {
    font-family: open-sans, sans-serif;
}


@media screen and (max-width: 480px) {


    .container {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .top-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45vh;
        background-image: url("../images/unnamed.png");
        /* pesquisei */
        background-repeat: no-repeat;
        /* pesquisei */
        background-size: 100% 100%;
        /* pesquisei */
        background-position: top center;
        /* pesquisei */
        z-index: 0;
        /* pesquisei */
    }

    .topo,
    .avatar,
    .login-titulo,
    .login1 {
        position: relative;
    }

    .topo {
        display: flex;
        justify-content: space-between;
        width: 85%;
        align-items: center;
        margin-top: 10%;
    }

    .logo img,
    .logo-trem img {
        height: 70px;
    }

    .avatar {
        margin: 5% 0 5% 0;
    }

    .avatar img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 10px;
        margin-top: 80%;
        background-color: black;
    }

    .login-titulo {
        margin-bottom: 3%;
        color: black;
        font-weight: 700;
        margin-top: 50px;
        font-size: 120%;
    }

    .login1 {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 10%;
        margin-top: 3%;
    }

    .login1 input {
        width: 100%;
        padding: 3%;
        margin-bottom: 15px;
        border: 2px solid #3e48cc;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
    }



    .login1 button {
        padding: 4%;
        background-color: #0046d8;
        color: white;
        border: none;
        margin-top: 5%;
        font-size: 120%;
        border-radius: 10px;
        cursor: pointer;
    }

    .login1 button a {
        color: white;
        text-decoration: none;
    }

    #nomeUsuario {
        width: 100%;
        padding: 3.5%;
        margin-bottom: 5%;
        border: 2px solid #3e48cc;
        border-radius: 25px;
        font-weight: 600;
        color: #2d36b0;
    }

    .bem-vindo {
        text-align: center;
        margin: 20px 0;
        font-size: 1.5em;
        color: #3e48cc;
    }

    .cont_senha {
        position: relative;
        width: 100%;
    }

    .cont_senha input {
        width: 100%;
        padding: 3.5%;
        padding-right: 40px;
        border: 2px solid #3e48cc;
        border-radius: 25px;
        font-weight: 600;
        color: #2d36b0;
        display: flex;
    }

    .cont_senha .toggle-senha {
        position: absolute;
        right: 15px;
        top: 40%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #3e48cc;
        font-size: 1.2rem;
    }
}