body {
    font-family: open-sans, sans-serif;
}


@media screen and (max-width: 480px) {


    .container {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .top-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45vh;
        background-image: url("../images/unnamed.png");
        /* pesquisei */
        background-repeat: no-repeat;
        /* pesquisei */
        background-size: 100% 100%;
        /* pesquisei */
        background-position: top center;
        /* pesquisei */
        z-index: 0;
        /* pesquisei */
    }

    .topo,
    .avatar,
    .login-titulo,
    .login1 {
        position: relative;
    }

    .topo {
        display: flex;
        justify-content: space-between;
        width: 85%;
        align-items: center;
        margin-top: 40px;
    }

    .logo img,
    .logo-trem img {
        height: 50px;
        height: 60px;
    }

    .avatar {
        margin: 30px 0 10px 0;
    }

    .avatar img {
        width: 100px;
        height: 100px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 10px;
        margin-top: 150px;
    }

    .login1 input {
        padding: 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 2px solid #3e48cc;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
    }

    

    .login1 button {
        padding: 12px;
        background-color: #0046d8;
        color: white;
        text-decoration: none;
    }


    #nomeUsuario {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 2px solid #3e48cc;
        border-radius: 25px;
        font-size: 16px;
    }
    
    .bem-vindo {
        text-align: center;
        margin: 20px 0;
        font-size: 1.5em;
        color: #3e48cc;
    }
    
    #nomeUsuario {
        font-weight: 600;
        color: #2d36b0;
    }

}